# Measures of Central Tendency

An essential statistical concept is the “measure of central tendency“. This measure is an important way to summarize the dataset with one representative value. This measure provides a rough picture of where data points are centered. The commonly used measures of central tendency are:

Mean
Median
Mode

# mean

 “Average” value is termed as the mean of the dataset. It is very easy to calculate the mean.

In [40]:
import numpy as np
import pandas as pd
import statistics

In [3]:
data = pd.read_csv("Students_marks.csv")

In [4]:
data

,Roll No.,Name,Gender,Data Structure,Mathematics,Operating System,Average marks,Ranking
0,1,Avneet,F,25,19,17,20.33,Good
1,2,Jay,M,23,21,14,19.33,Okay
2,3,Sadaf,F,28,23,21,24.00,Good
3,4,Prakash,M,21,27,28,25.33,Very Good
4,5,Sarita,F,23,22,9,18.00,Okay
5,6,Vasudha,F,190,30,28,82.66,Very Good
6,7,Ankur,M,24,24,22,23.33,Good
7,8,Laksh,M,26,25,27,26.00,Very Good
8,9,Aman,M,23,18,25,22.00,Good
9,10,Rajat,M,24,22,15,20.33,Good

# mean = sum of the values by / number of values

In [5]:
age = [23,56,45,34,78,56,34,56,35,45,67]

In [12]:
sum_of_age = 23+56+45+34+78+56+34+56+35+45+67

In [13]:
sum_of_age

529

In [14]:
number_of_values_age = len(age)

In [16]:
number_of_values_age

11

In [21]:
mean_of age = 529/11

48.09090909090909

In [22]:
np.mean(age)

48.09090909090909

In [24]:
data["Data Structure"].mean()

40.7

In [25]:
data["Mathematics"].mean()

23.1

In [26]:
data["Operating System"].mean()

20.6

# median

Median: The middle value of the sorted dataset is called the median.  Consider a dataset comprising ‘n’ elements.
Steps  to calculate median:
1. The dataset is arranged in either increasing or decreasing order.
2. If the data set has an odd number of data values (n=odd), then the middlemost value of the sorted dataset is computed as the median. In other words, the data at (n + 1)/2 place is the median of the dataset.
3. If the dataset has an even number of data values (n = even), the average of two middle values is computed as the median. i.e. the mean of (n/2) and {(n/2) + 1}th is the median of the dataset.

In [27]:
age = [22,23,54,7,7,878,7,664,5,5,35,]

In [28]:
np.median(age)

22.0

In [29]:
data

,Roll No.,Name,Gender,Data Structure,Mathematics,Operating System,Average marks,Ranking
0,1,Avneet,F,25,19,17,20.33,Good
1,2,Jay,M,23,21,14,19.33,Okay
2,3,Sadaf,F,28,23,21,24.00,Good
3,4,Prakash,M,21,27,28,25.33,Very Good
4,5,Sarita,F,23,22,9,18.00,Okay
5,6,Vasudha,F,190,30,28,82.66,Very Good
6,7,Ankur,M,24,24,22,23.33,Good
7,8,Laksh,M,26,25,27,26.00,Very Good
8,9,Aman,M,23,18,25,22.00,Good
9,10,Rajat,M,24,22,15,20.33,Good

In [30]:
data["Data Structure"].median()

24.0

In [33]:
data["Mathematics"].median()

22.5

In [34]:
data["Operating System"].median()

21.5

# Mode

Mode: The most frequently occurring value in the dataset is called mode. 
Steps to calculate mode:
1. Use tally marks to identify how many times each data value occurs in the dataset.
2. The data value with maximum tally is the mode of the dataset.

Example 1. Consider the weight (in kg) of 5 children as 36, 40, 32, 42, 30. Let’s compute mean, median, and mode:
Solution:
Mean = (36 + 40 + 32 + 42 + 30)/5 = 180/5 = 36kg
Median: Arrange the data in ascending order: 30, 32, 36, 40, 42 The middle value is 36. So, median = 36kg.
Mode: Thus, there are no repeating numbers in a given list, there is no mode existing for that particular list

In [36]:
age = [2,4,23,34,22,3,2,3,2,3,2,3,4,4,4,4]

In [41]:
statistics.mode(age)

4

In [42]:
data

,Roll No.,Name,Gender,Data Structure,Mathematics,Operating System,Average marks,Ranking
0,1,Avneet,F,25,19,17,20.33,Good
1,2,Jay,M,23,21,14,19.33,Okay
2,3,Sadaf,F,28,23,21,24.00,Good
3,4,Prakash,M,21,27,28,25.33,Very Good
4,5,Sarita,F,23,22,9,18.00,Okay
5,6,Vasudha,F,190,30,28,82.66,Very Good
6,7,Ankur,M,24,24,22,23.33,Good
7,8,Laksh,M,26,25,27,26.00,Very Good
8,9,Aman,M,23,18,25,22.00,Good
9,10,Rajat,M,24,22,15,20.33,Good

In [43]:
data["Gender"].mode()

0    M
Name: Gender, dtype: object

In [44]:
data["Data Structure"].mode()

0    23
Name: Data Structure, dtype: int64

In [45]:
data["Ranking"].mode()

0    Good
Name: Ranking, dtype: object